@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body{
margin:0;
font-family:Poppins;
background:linear-gradient(135deg,#0a2540,#00c6ff);
color:white;
}


/* NAVBAR */

header{

display:flex;
justify-content:space-between;
align-items:center;

padding:15px 40px;

background:rgba(0,0,0,0.5);

position:sticky;
top:0;
}


.logo{

font-size:22px;
font-weight:bold;
}



nav a{

color:white;
text-decoration:none;

margin:10px;

padding:8px 18px;

border-radius:20px;

transition:0.3s;
}


nav a:hover{

background:#ff7a00;

}



/* HERO */

.hero{

height:100vh;

background:

linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),

url("images/poster.jpg");

background-size:cover;

display:flex;
justify-content:center;
align-items:center;

flex-direction:column;

text-align:center;
}



/* BUTTON */

.btn{

background:#ff7a00;

padding:15px 30px;

color:white;

text-decoration:none;

border-radius:30px;

margin-top:20px;
}



/* CONTENT BOX */

.container{

background:rgba(255,255,255,0.1);

margin:40px;

padding:30px;

border-radius:15px;
}



/* SPEAKER CARD */

.card{

background:white;
color:black;

display:inline-block;

width:250px;

margin:20px;

border-radius:15px;

overflow:hidden;

transition:0.3s;
}


.card:hover{

transform:translateY(-10px);
}


.card img{

width:100%;
}



/* TIMELINE */

.timeline{

border-left:3px solid white;

padding-left:20px;
}


.event{

margin:20px;
}



/* COUNTDOWN */

.countdown{

display:flex;

gap:20px;

margin-top:20px;
}


.time{

background:rgba(255,255,255,0.2);

padding:20px;

border-radius:10px;
}



/* FOOTER */

footer{

background:black;

padding:15px;

text-align:center;

margin-top:50px;
}
